body {

	background-image: url('icebackground.jpg');
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: gray;
}

.homelink {

	color: white;
	font-size: 60px;
	text-align: center;
	font-family: "Tahoma", "Geneva", sans-serif; 
	border-bottom: solid;
	border-bottom-width: 5px; 
	margin-left: 10%;
    margin-right: 10%;
}



h1 {
	color: white;
	font-size: 70px;
	font-family: "Tahoma", "Geneva", sans-serif;
	margin: 50px; 
}

h2 {
	font-size: 40px;
}

.category {

	color: white;
	font-family: "Tahoma", "Geneva", sans-serif; 

    padding: 25px;
    margin: 35px;
    border-style: solid;
    border-width: 5px;
}