html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    text-align: center;
}

a:link {
    text-decoration: none;
}

a.svglink {
    position: relative;
    display: inline-block;
}

a.svglink:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1 {
    color: #E95323;
    text-align: center;
    font-size: 360%;
    font-family: 'Arvo', serif;
}

.small-header {
    color: #332CA3;
}

p {
    color: inherit;
    font-size: 160%;
}

.nav-pills {
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Arvo', serif;
}

.pill-nav {
    background-color: #ffffff;
    color: #332CA3;
}

.nav-pills > li.active > .pill-nav {
    background-color: #332CA3;
    color: #ffffff;
}

.nav-pills > li.active > a:hover {
    background-color: #332CA3;
    opacity: 0.8;
    color: #ffffff;
}

.pills .active a,
.pills .active a:hover {
    background-color: #111111;
}