.the-team-content-holder {
    display: none;
}

.the-team-content {
    text-align: center;
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
}

.thumbnail {
    position: relative;
}

.placeholder {
    height: 340px;
    width: 340px;
    visibility: hidden;
}

.headshot {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.headshot-bio {
    display: none;
}

.shaded-headshot {
    filter: opacity(0.3);
    -webkit-filter: opacity(0.3);

}

.nametag {
    position: absolute;
    bottom: 37%;
    color: #666666;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 200%;
    font-family: 'Arvo', serif;
    display: none;
}