html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    text-align: center;
}

a:link {
    text-decoration: none;
}

a.svglink {
    position: relative;
    display: inline-block;
}

a.svglink:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1 {
    color: #111;
    text-align: center;
    font-size: 360%;
    font-family: 'Arvo', serif;
}

p {
    padding-left: 150px;
    padding-right: 150px;
    color: inherit;
    font-size: 160%;
    font-family: 'Raleway', sans-serif;
}

video {
    max-width: 100%;
    height: auto;
    /*width: auto;*/
}

.nav-pills {
    display: inline-block;
    margin-bottom: 10px;
    /*background-color: #111111;*/
}

.pills .active a,
.pills .active a:hover {
    background-color: #111111;
}

.the-team-content {
    text-align: center;
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
}

.videos-content {
}

.thumbnail {
    position: relative;
}

.placeholder {
    height: 340px;
    width: 340px;
    visibility: hidden;
}

.headshot {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.headshot-bio {
    display: none;
}

.shaded-headshot {
    filter: opacity(0.3);
    -webkit-filter: opacity(0.3);

}

.nametag {
    position: absolute;
    bottom: 37%;
    color: #666666;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 200%;
    font-family: 'Arvo', serif;
    display: none;
}

.about-content {
    margin: 5%;
}

.about-text {
    color: inherit;
    font-size: 160%;
    text-align: left;
    font-family: 'Arvo', serif;
}