.quiz-content {
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.panel {
    margin-top: 5px;
}

.answer-content {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.thumbnail {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: cover;
    background-image: url('../content/benMeyerson.jpg');
}

.jumbotron {
    background-color: #ffffff;
    color: #19A45D;
    margin-bottom: 800px;
}

.start-quiz-button {
    margin-top: 100px;

}

.quiz-content {
    display: none;
}

.question-heading {
    border-bottom: solid 1px #111111;
    text-align: center;
    font-family: 'Arvo', serif;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 5%;
}

.answer {
    padding: 4px;
    padding-left: 10px;
    margin-top: 3px;
    color: #666666;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
    font-family: 'Arvo', serif;
}

.hover-answer {
    background-color: #E95323;
    color: #ffffff;
}

.chosen-answer {
    background-color: #332CA3;
    color: #ffffff;
}

.answer-radio {
    display: none;
}

/* windows wider than 681px */
@media only screen
and (max-width : 1000px)
and (min-width : 681px) {
    .quiz-content {
        padding-left: 10%;
        padding-right: 10%;
    }
}

/* windows narrower than 681px */
@media only screen
and (max-width : 680px) {
    .quiz-content {
        padding-left: 2%;
        padding-right: 2%;
    }
}