/************** Change Color of Text and Border Effect ******************/

.color-effect {
    -webkit-animation-name: color-effect; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 14s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: color-effect;
    animation-duration: 14s;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes color-effect {
    0%   {color: #19A45D; border-color: #19A45D;}
    33%  {color: #E95323; border-color: #E95323;}
    66%  {color: #332CA3; border-color: #332CA3;}
    100% {color: #19A45D; border-color: #19A45D;}
}

/* Standard syntax */
@keyframes color-effect {
    0%   {color: #19A45D; border-color: #19A45D;}
    33%  {color: #E95323; border-color: #E95323;}
    66%  {color: #332CA3; border-color: #332CA3;}
    100% {color: #19A45D; border-color: #19A45D;}
}

/************** Change Color of Background Effect ******************/

.background-color-effect {
    -webkit-animation-name: background-color-effect; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 14s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: background-color-effect;
    animation-duration: 14s;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes background-color-effect {
    0%   {background-color: #19A45D;}
    33%  {background-color: #E95323;}
    66%  {background-color: #332CA3;}
    100% {background-color: #19A45D;}
}

/* Standard syntax */
@keyframes background-color-effect {
    0%   {background-color: #19A45D;}
    33%  {background-color: #E95323;}
    66%  {background-color: #332CA3;}
    100% {background-color: #19A45D;}
}

/******************* Fade Out Effect **************************/

.fadeOut {
    -webkit-animation-name: fadeOut; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeOut {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

/* Standard syntax */
@keyframes fadeOut {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

/******************* Fade In Effect **************************/

.fadeIn {
    -webkit-animation-name: fadeIn; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

/****************************************************************/


.quiz-content {
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.panel {
    margin-top: 5px;
}

.answer-content {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.jumbotron {
    background-color: #ffffff;
    color: #19A45D;
}

.start-quiz-button {
    margin-top: 100px;
    color: #19A45D;
    border: solid 1px #19A45D;
    background-color: #ffffff;
}

a:hover.start-quiz-button {
    background-color: #eeeeee;
}

.progress {
    margin-top: 20%;
}

.question-heading {
    border-bottom: solid 1px #111111;
    text-align: center;
    font-family: 'Arvo', serif;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 5%;
    color: #19A45D;
}


/*fourth color in pallete ---> #E9BB23*/


.answer {
    padding: 4px;
    padding-left: 10px;
    margin-top: 3px;
    color: #666666;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
    font-family: 'Arvo', serif;
}

.hoverAnswer {
    background-color: #E95323;
    color: #ffffff;
}

.chosenAnswer {
    background-color: #332CA3;
    color: #ffffff;
}

.answer-radio {
    display: none;
}

.matchContent {
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-family: 'Arvo', serif;
    font-size: 1.5vw;
}

.matchName {
    font-size: 5vw;
    text-align: center;
    margin-bottom: 10px;
}

.hallOfFameTitle {
    color: #E9BB23;
    text-align: center;
    font-size: 4vw;
    margin-bottom: 20px;
}

.hallOfFameImg {
    border: solid 15px #E9BB23;
}

.matchImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
}

.matchBio {
    margin-bottom: 20px;
    max-height: 300px;
    overflow-y:auto;
}

.endQuizButton {
    width: 100%;
    color: #19A45D;
    border: solid 1px #19A45D;
    background-color: #ffffff;
    margin-bottom: 10px;
}

a:hover.retakeQuiz {
    background-color: #eeeeee;
}

.emptyDiv {
    visibility: hidden;
    width: 100%;
    height: 2000px;
}

/* windows narrower than 681px */
@media only screen
and (max-width : 680px) {
    .quiz-content {
        padding-left: 2%;
        padding-right: 2%;
    }

    .matchContent {
        padding-left: 2%;
        padding-right: 2%;
        font-size: 4vw;
    }

    .matchName {
        font-size: 8vw;
    }

    .matchImg {
        width: 175px;
        height: 175px;
    }
}