/*html {

        background: url('london.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}*/

html {
        height: 100%;
}

body {
        margin: 0px;
        height: 100%;
}

.jumbotron {
        margin-bottom: 0px;
        background-image: url('london.jpg');
        background-position: 0% 25%;
        background-size: cover;
        background-repeat: no-repeat;

        color: white;
        text-align: center;


        width: 100%;
        height: 100%;
        padding: 0;
}

a:link {
        text-decoration: none;
}

h1 {
        color: white;
        font-size: 360%;
        font-weight: 600;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 6%;
        border: none;
}

.newtitle {

        margin-top: 20%;
        display: inline-block;
}

.title {
        color: white;
        width: 300px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

/*.box_top {
        width: 100%;
        height: 50%;
        position: absolute;
        top: 0px;
        z-index: -1;
}

.box_bottom {
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0px;
        z-index: -1;
}

.shade {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        background: rgba(0, 0, 0, 0.16);
}*/

/*.glyph {
        height: 85px;
        width: 85px;
        fill: white;
        margin-right: 5%;
        margin-bottom: 5%;
}

.rightglyph {
        margin-right: 0;
}*/

.thumbnail {
        background: rgba(0, 0, 0, 0);
        border: none;
}

