/* windows wider than 680px */
@media only screen 
and (min-width : 681px) {

html {

        background: url('london.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        height: 100%;
}

body {
        margin: 0px;
        height: 100%;
}


a:link {
        text-decoration: none;
}

a.svglink {
        position: relative;
        display: inline-block; 
}
a.svglink:after {
        content: ""; 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left:0;
}

h1 {
        color: white;
        font-size: 360%;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 2%;
        margin-top: 15%;
}

h2 {
        text-align: center;
        color: inherit;
        font-size: 260%;
        font-family: 'Raleway', sans-serif;  
}

p {
        padding-left: 80px;
        padding-right: 80px; 
        color: inherit;
        font-size: 160%;
        font-family: 'Raleway', sans-serif;
}

.page2 {

        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        padding: 10px;
        background: rgba(1, 1, 1, 0.4);
        color: white;
}

.title {
        color: white;
        width: 100%;

        text-align: center;
        z-index: +1;

}

/*.box_top {
        width: 100%;
        height: 50%;
        position: absolute;
        top: 0px;
}

.box_bottom {
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0px;
}

.shade {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        background: rgba(0, 0, 0, 0.16);
}*/

.glyph {
        height: 85px;
        width: 85px;
        fill: white;
        margin-right: 2%;
        margin-bottom: 5%;
}

.rightglyph {
        margin-right: 0;
}

}


/* windows narrower than 681px */
@media only screen 
and (max-width : 680px) {
        html {

        background: url('londontall.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        height: 100%;
}

body {
        margin: 0px;
        height: 100%;
}


a:link {
        text-decoration: none;
}

a.svglink {
        position: relative;
        display: inline-block; 
}
a.svglink:after {
        content: ""; 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left:0;
}

h1 {
        color: white;
        font-size: 360%;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 2%;
        margin-top: 15%;
}

.title {
        color: white;
        width: 100%;

        text-align: center;
        z-index: +1;

}

.page2 {

        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        padding: 10px;
        background: rgba(1, 1, 1, 0.4);
        color: white;
        font-size: 160%;
        font-family: 'Raleway', sans-serif;
}

/*.box_top {
        width: 100%;
        height: 50%;
        position: absolute;
        top: 0px;
}

.box_bottom {
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0px;
}

.shade {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        background: rgba(0, 0, 0, 0.16);
}*/

.glyph {
        height: 85px;
        width: 85px;
        fill: white;
        margin-right: 2%;
        margin-bottom: 5%;
}

.rightglyph {
        margin-right: 0;

} 



