@media only screen 
and (max-width : 555px) {

	body {

		background-image: url('icebackground.jpg');
		background-position: center;
		background-repeat: no-repeat;
	    background-attachment: fixed;
	}

	h1 {

		color: white;
		text-align: center;
		font-size: 60px;
		font-family: "Tahoma", "Geneva", sans-serif;
		border-bottom: solid;
		border-bottom-width: 5px;
		margin-left: 5%;
	    margin-right: 5%;
	}

	img {

		height: 300px;
		width: 200px;
		display: block;
	    border: 35px solid rgba(256, 256, 256, 0.3);  
	    margin-left: 5%;
	}

	ul {
		list-style-type: square;
	}

	li {
		color: white;
	}

	a:link {
	    text-decoration: none;
	    color: white;
	    font-family: "Tahoma", "Geneva", sans-serif;
	}

	a:visited {
	    text-decoration: none;
	    color: white;
	    font-family: "Tahoma", "Geneva", sans-serif;
	}

	a:hover {
	    text-decoration: underline;
	    color: white;
	    font-family: "Tahoma", "Geneva", sans-serif;
	}

	a:active {
	    text-decoration: none;
	    color: gray;
	    font-family: "Tahoma", "Geneva", sans-serif;
	}

	.link {
		font-size: 30px;
	}

	#nametag {
		background-color: rgba(256, 256, 256, 0.3);
	    float: left;
	    padding: 15px;
	    height: 300px;
	    margin-top: 10%;
	    margin-left: 5%;
	}
}

@media only screen 
and (min-width : 556px) {
	body {

		background-image: url('icebackground.jpg');
		background-position: center;
		background-repeat: no-repeat;
	    background-attachment: fixed;
	}

	h1 {

		color: white;
		text-align: center;
		font-size: 80px;
		font-family: "Tahoma", "Geneva", sans-serif;
		border-bottom: solid;
		border-bottom-width: 5px;
		margin-left: 10%;
	    margin-right: 10%;
	}

	img {

		height: 300px;
		width: 200px;
		display: block;
	    border: 35px solid rgba(256, 256, 256, 0.3);  
	    margin-left: 20%;
	    margin-bottom: 15px;
	    float: left;
	}

	ul {
		list-style-type: square;
	}

	li {
		color: white;
	}

	a:link {
	    text-decoration: none;
	    color: white;
	    font-family: "Tahoma", "Geneva", sans-serif;
	}

	a:visited {
	    text-decoration: none;
	    color: white;
	    font-family: "Tahoma", "Geneva", sans-serif;
	}

	a:hover {
	    text-decoration: underline;
	    color: white;
	    font-family: "Tahoma", "Geneva", sans-serif;
	}

	a:active {
	    text-decoration: none;
	    color: gray;
	    font-family: "Tahoma", "Geneva", sans-serif;
	}

	.link {
		font-size: 40px;
	}

	#nametag {
		background-color: rgba(256, 256, 256, 0.3);
	    float: left;
	    padding: 35px;
	    height: 300px;
	    margin-left: 10%;
	}
}

@media only screen 
and (min-width : 906px) {
	body {

		background-image: url('icebackground.jpg');
		background-position: center;
		background-repeat: no-repeat;
	    background-attachment: fixed;
	}

	h1 {

		color: white;
		text-align: center;
		font-size: 80px;
		font-family: "Tahoma", "Geneva", sans-serif;
		border-bottom: solid;
		border-bottom-width: 5px;
		margin-left: 10%;
	    margin-right: 10%;
	}

	img {

		height: 300px;
		width: 200px;
		display: block;
	    border: 35px solid rgba(256, 256, 256, 0.3);  
	    margin-left: 20%;
	    float: left;
	}

	ul {
		list-style-type: square;
	}

	li {
		color: white;
	}

	a:link {
	    text-decoration: none;
	    color: white;
	    font-family: "Tahoma", "Geneva", sans-serif;
	}

	a:visited {
	    text-decoration: none;
	    color: white;
	    font-family: "Tahoma", "Geneva", sans-serif;
	}

	a:hover {
	    text-decoration: underline;
	    color: white;
	    font-family: "Tahoma", "Geneva", sans-serif;
	}

	a:active {
	    text-decoration: none;
	    color: gray;
	    font-family: "Tahoma", "Geneva", sans-serif;
	}

	.link {
		font-size: 40px;
	}

	#nametag {
		background-color: rgba(256, 256, 256, 0.3);
	    float: left;
	    padding: 35px;
	    height: 300px;
	    margin-left: 0px;
	}
}

