body {
	background-image: url('monkees.jpg');
	background-position: fixed;
}

h1 {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	text-align: center;
	color: white;
	font-size: 70px;
	background-color: rgba(2, 2, 2, 0.5);
}

p {
	color: white;
	text-align: center;
	font-size: 16px;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

#lyrics {
	background-color: rgba(2, 2, 2, 0.5);
	padding: 8px;
}

.chorus {
	font-size: 22px;
}

#music_video {
	margin-left: 35%;
	margin-top: 40px;
}