body {
    margin: 0;
    overflow: hidden; /* Prevents scrollbars */
    height: 100vh; /* Full viewport height */
}
#wildButton {
    display: none;
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: move 2s infinite;
}
